<!-- comment partial -->

<div class='content'>
  <div class='from'>
    {{#author}}
      <a href='/#people/{{id}}'>
        <img src='{{avatar}}' class='avatar'/>
      </a>
      <a href='/#people/{{id}}'>
        {{{name}}}
      </a>
    {{/author}}
    <div class='info'>
      <span class="time timago">
        {{date}}
      </span>
    </div>
  </div>
  <div>
    {{{text}}}
  </div>
</div>
