<!-- post partials -->

{{#status_message}}
  <div class='photo_area'>
    {{#photos}}
      <div class='photo_attachments'>
        {{#photo}}
          <img src='{{thumb_medium}}' class="stream-photo big-stream-photo"/>
        {{/photo}}
      </div>
    {{/photos}}
  </div>

  <div class='content'>
    <div class='from'>
      {{#author}}
        <a href='/people/{{id}}'>
          {{#profile}}
            <img src='{{image_url_small}}' class='avatar'/>
          {{/profile}}
        </a>
        {{#profile}}
          <a href='/people/{{id}}'>
            {{full_name}}
          </a> 
        {{/profile}}
      {{/author}}
      <div class='info'>
        <span class='time'>{{created_at}}</span> 
        <span class='via'></span>
        <span class='post-scope'>{{public_or_limited}}</span>
      </div>
    </div>
    {{{text}}}
  </div>

  <div class='bottom_bar'>
    <div class='floater'>
      <a href='/post/{{id}}/comments' class='image_link comment_action inactive'></a>
      <a href='/post/{{id}}/likes' class='image_link like_action inactive'></a>
    </div>
    {{reactionCount}} reactions

    <div id="comments">
      {{#comments}}
        {{> comment}}
      {{/comments}}
    </div>
  </div>
{{/status_message}}


{{#reshare}}
  <div class='photo_area'>
    {{#photos}}
      <div class='photo_attachments'>
        {{#photo}}
          <img src='{{thumb_medium}}' class="stream-photo big-stream-photo"/>
        {{/photo}}
      </div>
    {{/photos}}
  </div>

  <div class='content'>
    <div class='from'>
      {{#author}}
        <a href='/people/{{id}}'>
          {{#profile}}
            <img src='{{image_url_small}}' class='avatar'/>
          {{/profile}}
        </a>
        {{#profile}}
          <a href='/people/{{id}}'>
            {{full_name}}
          </a> 
        {{/profile}}
      {{/author}}
      <div class='info'>
        <span class='time'>{{created_at}}</span> 
        <span class='via'></span>
        <span class='post-scope'>{{public_or_limited}}</span>
      </div>
    </div>
    {{{text}}}
  </div>

  <div class='bottom_bar'>
    <div class='floater'>
      <a href='/post/{{id}}/comments' class='image_link comment_action inactive'></a>
      <a href='/post/{{id}}/likes' class='image_link like_action inactive'></a>
    </div>
    {{reactionCount}} reactions

    <div id="comments">
      {{#comments}}
        {{> comment}}
      {{/comments}}
    </div>
  </div>
{{/reshare}}

{{#photo}}
  <div class='photo_area'>
    <div class='photo_attachments'>
      <img src='{{image_url}}' class="stream-photo big-stream-photo"/>
    </div>
  </div>

  <div class='content'>
    <div class='from'>
      {{#author}}
        <a href='/people/{{id}}'>
          {{#profile}}
            <img src='{{image_url_small}}' class='avatar'/>
          {{/profile}}
        </a>
        {{#profile}}
          <a href='/people/{{id}}'>
            {{full_name}}
          </a> 
        {{/profile}}
      {{/author}}
      <div class='info'>
        <span class='time'>{{created_at}}</span> 
        <span class='via'></span>
        <span class='post-scope'>{{public_or_limited}}</span>
      </div>
    </div>
    {{{text}}}
  </div>

  <div class='bottom_bar'>
    <div class='floater'>
      <a href='/post/{{id}}/comments' class='image_link comment_action inactive'></a>
      <a href='/post/{{id}}/likes' class='image_link like_action inactive'></a>
    </div>
    {{commentCount}} reactions

    <div id="comments">
      {{#comments}}
        {{> comment}}
      {{/comments}}
    </div>
  </div>
{{/photo}}
