<div id="post-show">
  <div id="post-author-info">
    {{#author}}
      <img src='{{avatar}}' class='avatar'/>
      <div class="content">
        <span class="author-name larger">{{name}}</div>
      </div>
    {{/author}}

    <div id="post-content">
      {{{text}}}
    </div>

    <div class='stream-date'>
      {{date}}
    </div>

  </div>
    
  <div id="comments">
    {{#comments}}
      <div class="stream-element comment">
        {{#author}}
          <img src='{{avatar}}' class='avatar'/>
        {{/author}}
        <div class='content'>
          <div class='stream-date'>
            {{date}}
          </div>
          {{#author}}
            <div class="author-name">{{name}}</div>
          {{/author}}
          {{{text}}}
        </div>
      </div>
    {{/comments}}
  </div>
</div>
