<div id="post-show">
  <div id="post-author-info">
    {{#author}}
      <img src='{{avatar}}' class='avatar'/>
      <div class="content">
        <span class="author-name larger">{{name}}</div>
      </div>
    {{/author}}

    <div id="post-content">
      {{{text}}}
    </div>

    <div class='stream-date'>
      {{date}}
    </div>

  </div>
    
  <div id="comments">
    {{#comments}}
      {{> comment}}
    {{/comments}}
  </div>
</div>

<form id="new_comment_form" method="post">
  <textarea></textarea>
  <br/>
  <input type="submit" value="Comment"/>
</form>
