{{#author}}
  <img src='{{avatar}}' class='avatar'/>
{{/author}}
<div class='content'>
  {{#author}}
    <div class="author-name">{{name}}</div>
  {{/author}}
  {{{text}}}
  <br/>
  {{commentCount}}
</div>
