{{#author}}
  <a href='/#people/{{id}}'>
    <img src='{{avatar}}' class='avatar'/>
  </a>
{{/author}}
<div class='content'>
  <div class='stream-date'>
    {{date}}
  </div>
  {{#author}}
    <div class="author-name">{{name}}</div>
  {{/author}}
  {{{text}}}

  <br/>
  {{#commentCount}}
    <div class="comments-counter">
      <img src='/images/icons/comment.gif' height=14 width=14/>
      {{commentCount}}
    </div>
  {{/commentCount}}
</div>
