-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if object.likes_count > 0
  %span.count
    - if object.is_a? Comment
      = link_to object.likes_count, comment_likes_path(object.id), :class => "expand_likes" 
    - else
      = link_to object.likes_count, post_likes_path(object.id), :class => "expand_likes" 
  %span.hidden.likes_list

- unless !user_signed_in? || @commenting_disabled
  = like_action(object, current_user)
- else
  = like_heart
