-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= render 'contacts/aspect_listings'

%hr

%ul.left_nav
  - if AppConfig[:featured_users]
    %li{:class => ("active" if @featured)}
      = link_to t('contacts.getting_started.community_spotlight'), featured_users_path, :class => "element_selector"
  %li{:class => ("active" if @finder)}
    = link_to "Facebook Friends", friend_finder_path('facebook'), :class => "element_selector"

